package {{ .Package }};

import com.code_intelligence.jazzer.api.FuzzedDataProvider;
import com.code_intelligence.jazzer.junit.FuzzTest;

public class {{ .Class }}Test {
    @FuzzTest
    void {{ .Function.Name }}Test(FuzzedDataProvider fuzzData) {
        {{ range .Function.Parameters }}
        {{ .Type }} {{ .Name}} = fuzzData.{{ consumeFunc .Type }}();{{ end }}

        {{ .Class }} {{ classVar .Class.Name }} = new {{ .Class }}();
        {{ classVar .Class.Name }}.{{ .Function.Name }}({{ join .Function.Parameters.Names ", "}});
    }
}
