name: Build executable

on:
  push:
    branches:
      - "*"
      - "*/*"
      - "**"
  workflow_dispatch:

jobs:
  checks:
    name: Build executables ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Build executable
        run: make build
        shell: bash

      - name: Upload executable
        uses: actions/upload-artifact@v3
        with:
          name: executable
          path: build/bin/*
          if-no-files-found: error
          retention-days: 5
